<div class="container">
  <h2 class="text-center fw-bold mb-3">My Bookings</h2>

  <div *ngIf="bookings.length === 0" class="text-center mt-4">
    <p>No bookings found.</p>
  </div>

  <table *ngIf="bookings.length > 0" class="table">
    <thead>
      <tr>
        <th>Service</th>
        <th>Date</th>
        <th>Time</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let b of bookings">
        <td>{{ b.serviceId.name }}</td>
        <td>{{ b.date }}</td>
        <td>{{ b.time }}</td>
        <td>{{ b.status }}</td>
        <td>
          <button mat-icon-button color="warn" (click)="cancelBooking(b.bookingId)">
            <mat-icon>cancel</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
