/* src/styles.css */
body {
  font-family: 'Lato', 'Segoe UI', sans-serif;
  background-color: #fafafa;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}
